/*
Copyright 2019.
*/
/* 
    Created on : Oct 22, 2019, 11:20:28 AM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/

@font-face{
    font-family: 'SF UI Display Heavy';
    src: url(../fonts/sf-ui-display/sf-ui-display-black.otf);
}

@font-face{
    font-family: 'SF UI Display Bold';
    src: url(../fonts/sf-ui-display/sf-ui-display-bold.otf);
}

@font-face{
    font-family: 'SF UI Display Ultra-Bold';
    src: url(../fonts/sf-ui-display/sf-ui-display-heavy.otf);
}

@font-face{
    font-family: 'SF UI Display Light';
    src: url(../fonts/sf-ui-display/sf-ui-display-light.otf);
}

@font-face{
    font-family: 'SF UI Display Medium';
    src: url(../fonts/sf-ui-display/sf-ui-display-medium.otf);
}

@font-face{
    font-family: 'SF UI Display Semi-Bold';
    src: url(../fonts/sf-ui-display/sf-ui-display-semibold.otf);
}

@font-face{
    font-family: 'SF UI Display Ultra-Light';
    src: url(../fonts/sf-ui-display/sf-ui-display-thin.otf);
}

@font-face{
    font-family: 'SF UI Display Thin';
    src: url(../fonts/sf-ui-display/sf-ui-display-ultralight.otf);
}

.root {
    -fx-base: white;
    -fx-font-family: 'SF UI Display Medium';
}

.text-field {
    -fx-background: null;
    -fx-pref-width: 3em;
    -fx-pref-height: -fx-pref-width;
    -fx-font-size: 2em;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #ebf1fc;
}

.clues-font {
    -fx-font-family: 'SF UI Display Bold';
}

.solution-font {
    -fx-font-family: 'SF UI Display Thin';
}

.uncolored-field {
    -fx-background-color: white;
}

.buttons-pane {
    -fx-padding: 3em;
    -fx-spacing: 2em;
}

.button {
    -fx-cursor: hand;
    -fx-background-radius: 0.6em;
    -fx-background-insets: 0;
    -fx-padding: 1em 2em 1em 2em;
}

.button > .text {
    -fx-font-smoothing-type: lcd;
}
