/*
Copyright 2019.
*/
/* 
    Created on : Oct 22, 2019, 11:20:28 AM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/

@font-face{
    src: url(../fonts/san-francisco/san-francisco-display/SanFranciscoDisplayRegular.ttf);
}

@font-face{
    src: url(../fonts/san-francisco/san-francisco-display/SanFranciscoDisplayBold.ttf);
}

@font-face{
    src: url(../fonts/san-francisco/san-francisco-display/SanFranciscoDisplayThin.ttf);
}

@font-face{
    src: url(../fonts/san-francisco/san-francisco-display/SanFranciscoDisplayUltralight.ttf);
}

@font-face{
    src: url(../fonts/san-francisco/san-francisco-text/SanFranciscoTextMedium.ttf);
}

.root {
    -fx-base: white;
    -fx-font-family: 'SFNS Text Medium';
}

.text-field {
    -fx-background: null;
    -fx-pref-width: 3em;
    -fx-pref-height: -fx-pref-width;
    -fx-font-size: 2em;
}

.colored-field {
    -fx-background-color: #ebf1fc;
    -fx-font-family: 'SFNS Display Bold';
}

.uncolored-field {
    -fx-background-color: transparent;
    -fx-font-family: 'SFNS Display UltraLight';
}

.button {
    -fx-font-size: 1.2em;
    -fx-cursor: hand;
    -fx-background-radius: 0.6em;
    -fx-background-insets: 0;
    -fx-padding: 1em 2em 1em 2em;
}

.button > .text {
    -fx-font-smoothing-type: lcd;
}
