/*
Copyright 2019.
*/
/* 
    Created on : Oct 22, 2019, 11:20:28 AM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/

.root {
    -fx-background-color: white;
}

.text-field {
    -fx-background: null;
    -fx-pref-width: 3em;
    -fx-pref-height: -fx-pref-width;
    -fx-font-size: 2em;
}

.colored-field {
    -fx-background-color: #ebf1fc;
}

.uncolored-field {
    -fx-background-color: transparent;
}